#welcome, #section-one, #section-two {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome {
    background-image: url('../assets/welcome.jpg');
}

#section-one {
    background-image: url('../assets/section-one.jpg');
}

#section-two {
    background-image: url('../assets/section-two.jpg');
}

#section-three {
    background-image: url('../assets/section-three.jpg');
}

#section-four {
    background-image: url('../assets/section-four.jpg');
}

#victor-medals {
    border-collapse: unset;
    border-spacing: 2vw;
}

::selection {
    color: ghostwhite;
    background: #f59e0b;
}

html, body {
    scroll-behavior: smooth;
    overflow: hidden;
}

.scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.main-cont {
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth; 
}