#welcome, #section-one, #section-two {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome {
    background-image: url('../assets/section-two.jpg');
}

html, body {
    scroll-behavior: smooth;
    overflow: hidden;
}

.scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

.main-cont {
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth; 
}